<section class="sidebar" ng-controller="SidebarController as vm">
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Quản trị hệ thống</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> Danh mục
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="dmCalculationUnit"><i class="fa fa-circle-o"></i> Đơn vị tính</a></li>
                        <li><a ui-sref="dmSupplier"><i class="fa fa-circle-o"></i> Nhà cung cấp</a></li>
                        <li><a ui-sref="dmPatient"><i class="fa fa-circle-o"></i> Danh sách bệnh nhân</a></li>
                        <li><a ui-sref="dmNationality"><i class="fa fa-circle-o"></i> Danh sách Quốc Tịch</a></li>
                        <li><a ui-sref="dmTips"><i class="fa fa-circle-o"></i> Danh sách Thủ thuật</a></li>
                        <li><a ui-sref="dmGroupOfTricks"><i class="fa fa-circle-o"></i> Danh sách Nhóm Thủ thuật</a></li>
                        <li><a ui-sref="dmSampleOfInstructions"><i class="fa fa-circle-o"></i> Mẫu lời dặn</a></li>
                        <li><a ui-sref="dmPrescriptionForm"><i class="fa fa-circle-o"></i> Mẫu đơn thuốc</a></li>
                        <li><a ui-sref="dmRevenueModel"><i class="fa fa-circle-o"></i> Kiểu Thu Chi</a></li>
                        <li><a ui-sref="dmGroupExpenditure"><i class="fa fa-circle-o"></i> Nhóm Kiểu Thu Chi</a></li>
                        <li><a ui-sref="dmEmployee"><i class="fa fa-circle-o"></i> Danh mục nhân viên</a></li>
                        <li><a ui-sref="dmSpecialize"><i class="fa fa-circle-o"></i> Danh mục chuyên môn </a></li>
                        <li><a ui-sref="dmProductGroup"><i class="fa fa-circle-o"></i> Danh mục nhóm sản phẩm </a></li>
                        <li><a ui-sref="dmProduct"><i class="fa fa-circle-o"></i> Danh mục sản phẩm </a></li>
                        <li><a ui-sref="nvAppointment"><i class="fa fa-circle-o"></i> Danh mục Lịch hẹn </a></li>
                        <li><a ui-sref="nvFilePatient"><i class="fa fa-circle-o"></i> Hồ Sơ Bệnh án </a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Hệ thống</a></li>
            </ul>
        </li>
    </ul>
</section>